.ersteSeite{
    margin: 7vh 5%;
}

.picture{
    height: 60vh;
}

#rand{
    margin-top: 10vh;
    background: url(../img/random.jpeg) center / cover no-repeat;
}
#all {
    background: url(../img/alle.jpeg) center / cover no-repeat;
}

h1{
    background-color: #FFCA41;
    padding: 2vh;
    margin-top: 0;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    }

p{
    line-height: 24px;
}

p:nth-of-type(2) {
    padding-bottom: 6vh;
}

.ersteSeite a{
    background-color: white;
    border: none;
    padding: 0;
    text-decoration: none;
}